#Headline {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}
.social-box {
  text-align: center;
  background-color: beige;
  padding: 20px;
  border-radius: 8px;
}
.social-link {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 10px;
  color: darkorange;
}
.social-link:hover {
  color: aquamarine;
}
.social-link:last-child {
  margin-right: 10px;
}
